<!DOCTYPE html>
<html>
<head>
  <title>BackboneMongo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<span class="display-errors alert alert-error"></span>
<h1 class="main-header container">Forums</h1>
<div class="container"><%= yield %></div>
<div class="footer"></div>
</body>
</html>
